In [15]:
import pandas as pd
from datetime import datetime

In [16]:
df = pd.read_csv('data/1_Gracium_25py.csv')

In [17]:
print(df)

         Date        Price     Floor
0    23.10.28    12억 3,000  143동 20층
1    23.10.10    12억 5,000   143동 9층
2    23.10.07    13억 5,300  120동 14층
3    23.10.07    12억 4,500   139동 6층
4    23.10.02    12억 8,500   122동 8층
..        ...          ...       ...
180  20.11.20    12억 5,000  146동 10층
181  20.11.18    12억 4,500  145동 13층
182  20.11.04    13억 2,800  128동 10층
183  20.11.04  취소13억 2,800  128동 10층
184  20.10.25          12억  143동 15층

[185 rows x 3 columns]

In [18]:
df['Date'] = pd.to_datetime(df['Date'], format='%y.%m.%d')
filtered_df = df[df['Date'] > datetime(2022, 10, 1)]

In [19]:
print(filtered_df)

          Date      Price     Floor
0   2023-10-28  12억 3,000  143동 20층
1   2023-10-10  12억 5,000   143동 9층
2   2023-10-07  13억 5,300  120동 14층
3   2023-10-07  12억 4,500   139동 6층
4   2023-10-02  12억 8,500   122동 8층
..         ...        ...       ...
115 2022-11-22  10억 2,000   140동 7층
116 2022-11-20  11억 2,000  119동 15층
117 2022-11-12  10억 4,500  148동 20층
118 2022-11-12  10억 7,000   108동 3층
119 2022-10-24  10억 7,000   153동 6층

[120 rows x 3 columns]

In [26]:
# '년도-월' 기반으로 그룹화하여 항목 수 계산
monthly_counts = filtered_df.groupby(filtered_df['Date'].dt.to_period('M')).size()

# 새로운 데이터프레임 생성
monthly_counts_df = monthly_counts.reset_index(name='Count')
monthly_counts_df.columns = ['Month', 'Count']  # 열 이름 변경
monthly_counts_df['Month'] = monthly_counts_df['Month'].dt.to_timestamp()  # Period를 datetime으로 변환

monthly_counts_df

        Month  Count
0  2022-10-01      1
1  2022-11-01      4
2  2022-12-01      5
3  2023-01-01      8
4  2023-02-01     12
5  2023-03-01     11
6  2023-04-01     11
7  2023-05-01     14
8  2023-06-01     18
9  2023-07-01     14
10 2023-08-01      9
11 2023-09-01      8
12 2023-10-01      5

In [27]:
monthly_counts_df['Month'] = pd.to_datetime(monthly_counts_df['Month']).dt.to_period('M')
print(monthly_counts_df)

      Month  Count
0   2022-10      1
1   2022-11      4
2   2022-12      5
3   2023-01      8
4   2023-02     12
5   2023-03     11
6   2023-04     11
7   2023-05     14
8   2023-06     18
9   2023-07     14
10  2023-08      9
11  2023-09      8
12  2023-10      5

In [28]:
monthly_counts_df = monthly_counts_df.rename(columns={'Count':'Volume'})
monthly_counts_df

      Month  Volume
0   2022-10       1
1   2022-11       4
2   2022-12       5
3   2023-01       8
4   2023-02      12
5   2023-03      11
6   2023-04      11
7   2023-05      14
8   2023-06      18
9   2023-07      14
10  2023-08       9
11  2023-09       8
12  2023-10       5